<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Solar System Moons</title>
  
</head>

<body>
  <h1>Hello</h1>
  <a class="nav-link" href="/datapage">data</a>
  <br>
  <a class="nav-link" href="/page2">Price Data</a>
  <br>
  <a class="nav-link" href="/page3">Median Price Grouped by State</a>
  <br>
  <a class="nav-link" href="/State_Mean_Medians">Presentation Page: Median Price Grouped by State</a>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/grabadata.js"></script>
</body>

</html>